<div class="container">
  <div class="col-md-4 offset-4 card mt-4">
    <div class="card-body">
      <h1 class="text-center">Signup</h1>
      <form #form="ngForm" (ngSubmit)="signup(form)">
        <div class="form-group">

          <div class="form-group">
            <input
              ngModel
              required
              type="text"
              name="username"
              class="form-control"
              placeholder="username"
            />
          </div>

          <input
            ngModel
            required
            type="email"
            name="email"
            class="form-control"
            placeholder="email"
          />
        </div>
        <div class="form-group">
          <input
            ngModel
            required
            type="password"
            name="password"
            class="form-control"
            placeholder="password"
          />
        </div>
        <!-- Phone Number -->
        <div class="form-group">
          <input
            ngModel
            required
            type="number"
            name="phonenumber"
            class="form-control"
            placeholder="phonenumber"
          />
        </div>

        <div class="form-group">
          <input
            ngModel
            required
            type="text"
            name="location"
            class="form-control"
            placeholder="location"
          />
        </div>




        <div class="form-group">
          <button [disabled]="!form.valid" class="btn btn-success btn-block">
            Signup
          </button>
          <span>
            If you have  an account Please
        </span>
        <a [routerLink]="['/login']">login</a>
        </div>
      </form>
    </div>
  </div>
</div>
